In [1]:
import csv
import pandas as pd
import os
import numpy as np

In [6]:
path = "../data/dept_emp.csv"
dept_emp = pd.read_csv(path)
dept_emp.head()

   emp_no dept_no
0   10001    d005
1   10002    d007
2   10003    d004
3   10004    d004
4   10005    d003

In [7]:
dept_emp_pd = pd.DataFrame(dept_emp)
dept_emp_pd.head()

   emp_no dept_no
0   10001    d005
1   10002    d007
2   10003    d004
3   10004    d004
4   10005    d003

In [10]:
dept_emp_pd.to_csv("../data/dept_emp_fix.csv", columns=None,sep=",",index=False)